body {
  background-image: url('Obraz Ružové kvety na konároch stromu (2).jpg.large.jpg');  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh; }
h1 {
  color: white;          
  font-size: 72px;}

p {
  color: white;          
  font-size: 24px;}
