body {
  background-image: url('Obraz Ružové kvety na konároch stromu (2).jpg.large.jpg');  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh; 
}
